name: CI

on:
  push:
    branches:
      # - main
      - testing
  pull_request:
    branches:
      # - main
      - testing

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Create build directory
      run: mkdir -p build
    
    - name: Configure with CMake
      working-directory: build
      run: cmake -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON ..
    
    - name: Build
      working-directory: build
      run: make -j$(nproc)
    
    - name: Run moirai_test
      working-directory: build
      run: ./moirai_test
    
    - name: Run moirai_test_api
      working-directory: build
      run: ./moirai_test_api
